[submodule "DiscordPongUnity"]
	path = DiscordPongUnity
	url = https://github.com/GamerYuan/DiscordPongUnity.git
[submodule "DiscordPongNode"]
	path = DiscordPongNode
	url = https://github.com/GamerYuan/DiscordPongNode.git
